.circulo1{
    position: absolute;
    margin-top: 22%;
    margin-left: 40%;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    z-index: 1;
    cursor: pointer;
}
.circulo2{
    margin-top: 22%;
    margin-left: 40%;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.circulo3{
    margin-top: 22%;
    margin-left: 40%;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.circulo4{
    margin-top: 22%;
    margin-left: 40%;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.circulo5{
    margin-top: 22%;
    margin-left: 40%;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.circulo6{
    margin-top: 22%;
    margin-left: 40%;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.escondericono{
    display: none;
}


@keyframes circulo {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
        border: 1.5rem solid #ffc400;
    }
    100%{
        transform: scale(1.2);
    }
}

.carousel-control-next{
    animation: cubo 0.7s infinite;

}

@keyframes cubo {
    0%{
        transform: scale(1.2);
        border: 0.5rem solid #ffc400;
    }
    50%{
        transform: scale(1.2);
        border: 0.5rem solid #ffc40000;
    }
    100%{
        transform: scale(1.2);
        border: 0.5rem solid #ffc400;
    }
}