.circulo{
<<<<<<< HEAD
    position: absolute;
    margin-top: 12rem;
    margin-left: 32rem;
=======
    margin-top: 13rem;
    margin-left: 37rem;
>>>>>>> 54bdca2db3cc3555e489ba69283379dc8769de54
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
<<<<<<< HEAD
    z-index: 1;
=======
    position: absolute;
    z-index: 2;
>>>>>>> 54bdca2db3cc3555e489ba69283379dc8769de54
}
.circulo2{
    margin-top: 10rem;
    margin-left: 26rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 2;
}


.circulo3{
    margin-top: 10rem;
    margin-left: 8rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 2;
}
.circulo4{
    margin-top: 10rem;
    margin-left: 26rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 2;
}
.circulo5{
    margin-top: 1rem;
    margin-left: 56rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1.5rem solid #ffe600c5;
    animation: circulo 0.7s infinite;
    position: absolute;
    z-index: 2;
}


.escondericono{
    display: none;
}


@keyframes circulo {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
        border: 1.5rem solid #ffc400;
    }
    100%{
        transform: scale(1.2);
    }
}
/* animacion 2 imagenes */
/* .pito2{
    width: 20rem;
    height: 20rem;
    position: absolute;
    animation: imagenn 0.7s infinite;
}
.pito{
    width: 20rem;
    height: 20rem;
    position: absolute;
    animation: imagenn1  0.7s infinite;
}

.imagen{
margin-top: 24rem;
    margin-left: 50rem;
}
.imagen2
{
    margin-top: 24rem;
    margin-left: 50rem;
}
/* animacion 1 */
@keyframes imagenn {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
/* animacion 2 */
@keyframes imagenn1 {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
        opacity: .100;
    }
    100%{
        transform: scale(1.2);
    }
} 